@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*, *::before, *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    list-style: none;
}

    /* header / navbar */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
}

/* logo */
.logo {
    width: 210px;
    height: auto;

}

.logo img {
    width: 100%;
    display: block;
    height: auto;
}

/* desktop menu */
.desktop-main-menu {
    margin-right: 50px;
}

.desktop-main-menu ul {
    display: flex;

}

.desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
}

/* menu item bottom border */

.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1, 0.22);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}
/* sections */

section {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;

}
.section-inner {
    position: absolute;
    bottom: 200px;
    left: 150px;
    max-width: 560px;
}

.section-inner h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;

}

.section-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* background images */
.section-a {
    background-image: url('../img/section-a.webp');
}

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 15px;
    margin-top: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
}

.btn:hover span {
    color: #000;

}

.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #fff;
    z-index: -1;
}

















