@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*, *::before, *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
   
}

ul {
    list-style: none;
}

    /* header / navbar */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
}

/* logo */
.logo {
    width: 210px;
    height: auto;

}

.logo img {
    width: 100%;
    display: block;
    height: auto;
}

/* desktop menu */
.desktop-main-menu {
    margin-right: 50px;
}

.desktop-main-menu ul {
    display: flex;

}

.desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
    
}

/* menu item bottom border */

.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1, 0.22, 1);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}
/* sections */

section {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-transform: uppercase;

}
.section-inner {
    position: absolute;
    bottom: 200px;
    left: 150px;
    max-width: 560px;
}

.section-inner h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both; /* stop from showing at the start of the animation */
}

.section-inner a {
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both; /* stop from showing at the start of the animation */
}

/* background images */
.section-a {
    background-image: url('../img/section-a.webp');
}
.section-b {
    background-image: url('../img/section-b.webp');
}
.section-c {
    background-image: url('../img/section-c.webp');
}
.section-d {
    background-image: url('../img/section-d.webp');
}
.section-e {
    background-image: url('../img/section-e.webp');
}
.section-f {
    background-image: url('../img/section-f.webp');
}

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 15px;
    margin-top: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
   
}

.btn:hover span {
    color: #000;

}

.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(99, 74, 74);
    color: #fff;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover .hover {
    transform: translateY(0);
        
}

.scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite;
}
/* Footer */
footer {
    position: relative;
    padding: 55px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul li {
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
    list-style: none;

}

footer ul li a {
    color: #fff;
    transition: color 0.6s;
}

footer ul li a:hover {
    color: #aaa;
}

/* Hambuger  menu */

.hambuger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.hambuger-top, 
.hambuger-middle,
.hambuger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.5s;
}

.hambuger-middle {
    transform: translateY(5px);
}

.hambuger-bottom {
    transform: translateY(10px);
}

/* transition hanbuger to X when open */
.open {
     transform: rotate(90deg);

}

.open .hambuger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hambuger-middle {
    display: none;
}

.open .hambuger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay show */
.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}
/* stop bosy scroll */
.stop-scrolling {
    overflow: hidden;
}


/* hide mobile main menu item */
  
.mobile-only {
   display: none;

  }

  /* mobile menu */
    .mobile-main-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 350px;
        height: 100%;
        z-index: 4;
        background-color: #000;

        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.6s cubic-bezier(0.19, 1, 0.22);

    }

    /* bring menu from right */
    .show-menu {
        transform: translateX(0);
    }
    .mobile-main-menu ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 50px;
        width: 100%;
        list-style: none;
    }

    .mobile-main-menu ul li {
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
        border-bottom: 1px #555 dotted;
        width: 100%;
        text-align: right;
        padding-bottom: 8px;
    }

    .mobile-main-menu ul li a {
        columns: #fff;
        transition: color 0.6s;
    }

    .mobile-main-menu ul li a:hover {

        color: #aaa;
    }

/* Inner pages */

.bg-falcon-9 {
    background-image: url('../img/falcon-9.webp');
}

.section-animate {
animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;


}

.section-inner-center h3 {
    font-size: 100px;
    margin-bottom: 15px;
    animation: fadeInUp 0.5s ease-in-out;
}


.section-inner-center p {
    font-size: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

/* Starts */
.start {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.start div span {
    font-size: 160px;

}

.start div h4 {
    font-size: 24px;
    font-weight: 300;
}
/* Animations  */
@keyframes fadeInUp {
    0% {
          opacity: 0;
          transform: translateY(140px);
    }
    100% {
              opacity: 1;
              transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
          opacity: 0;
          transform: translateY(140px);
    }
    100% {
              opacity: 1;
              transform: translateY(0);
    }
}



@keyframes fadeBounce  {
    0%, 20%, 50%, 80%, 100% {
   opacity: 0;
   transform: translateY(-20px);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* media query */

@media screen and (max-width: 960px) {
    /* Hide desktop menu */
    .desktop-main-menu {
        display: none;

    }

    /* show main mobilr items */
    .mobile-only {
        display: block;
    }
    .section-inner-center  h3 {
   font-size: 75px;
    }
}

@media screen and (max-width: 600px){
    .section-inner {
        bottom: 75px;
        left: 20px;
    }

    .section-inner h2 {
        font-size: 40px;
    }

    footer ul li:first-child {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%);
    }
    footer ul li {
        margin-right: 15px;
    }

    .logo {
       width: 150px;
       margin: auto;
    }
    .section-inner-center {
        width: 80%;
     }

    .section-inner-center  h3 {
        font-size: 60px;
         }
/* starts */
.start {
display: flex;
flex-direction: column;

}

.start div {
    margin-bottom: 20px;
}
}













